<a href="https://colab.research.google.com/github/andreamarhernandez/PrograIII-2024-Semi/blob/main/Fundamentos_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Andrea Hernandez"

print("Hola", nombre, ", inicial: ", nombre[0], nombre[5])

Hola Mundo
Hola Andrea Hernandez , inicial:  A a

EJERCICIO crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("la suma es:" , resp)

la suma es: 14.5

EJERCICIO crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = int(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es:", resp)

Num 1
5
Num 2
5
La suma es: 10.0

In [ ]:
#Tipos de Datos
num1 = 5
num2 = 5.9
nombre = "Andrea Hernandez"
print(nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Andr Andr z a Hernandez
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, cree un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

Ingrese un numero:5
El numero es impar

TAREA(MIERCOLES)
1.Convertir grados Farenheits a Celsius

In [ ]:
def farenheit_a_celsius(f):
  return (f-32)/1.8

def celsius_a_farenheit(c):
  return(c*1.8)+32

f=float(input("Por favor, ingresa los datos Fahrenheit:"))
c=farenheit_a_celsius(f)
print(f"Los grados Farenheit son {c} grados Celsius")

c=float(input("Por favor, ingresa los grados Celsius:"))
f=celsius_a_farenheit(c)
print(f"Los {c} grados Celsius son {f} grados Farenheit")

Por favor, ingresa los datos Fahrenheit:78
Los grados Farenheit son 25.555555555555554 grados Celsius
Por favor, ingresa los grados Celsius: 25
Los 25.0 grados Celsius son 77.0 grados Farenheit

2.Convertir grados Celsius y Farenheit a Kelvin

In [ ]:
def celsius_a_kelvin(celsius):
  return celsius+273.15

def farenheit_a_kelvin(farenheit):
  return (farenheit+459.67)*5/9

temperatura_celsius=30
temperatura_farenheit=86

print(f"{temperatura_celsius} °C en Kelvin: {celsius_a_kelvin(temperatura_celsius)}K")
print(f"{temperatura_farenheit} °F en Kelvin: {farenheit_a_kelvin(temperatura_farenheit)} K")

30 °C en Kelvin: 303.15K
86 °F en Kelvin: 303.15000000000003 K

elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base=0, exponente=2):
  return base**exponente

print(elevarCuadrado(5,3))

125

In [ ]:
num = int(input("Ingrese un numero:"))
print("Cuadrado: ", elevarCuadrado(num, 3))

Ingrese un numero:4
Cuadrado:  64

USANDO FUNCIONES LAMBDA

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num:"))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num:3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x:x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

EJERCICIO: obtener la raiz cuadrada de una serie de numeros fijos.

Ejercicios con funciones preconstruidas en python.:

MAP

In [1]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
numeros = [1,2,3,4,5,6,7,8,9, 10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla: 5
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

FILTER

In [3]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo los numeros pares.
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #obtener solo los numeros impares

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [4]:
notas = [8,4,9,10,7,6,9,10,2,3,1,8,2,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados:  [4, 2, 3, 1, 2]

REDUCE

In [5]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

TUPLAS

In [6]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "Ultimo: ", numeros[-1], "Rango: 2-6 ", numeros[2:6])
print(numeros.count(5))

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 Ultimo:  7 Rango: 2-6  (7, 9, 5, 4)
2

In [7]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la seman: ", len(semana))

Primer dia:  domingo ; Cuantas veces repite domingo:  1 ; dias de la seman:  7

In [8]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo","lunes","martes","miercoles","jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ", year)

Fecha:  miercoles 28  de  septiembre  del  2024

In [9]:
tuplas = ("Luis","Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Luis","Juan"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)

('Luis', 'Juan')
['Pedro', 'Juan']

LISTAS

In [10]:
listas = [5,8,7,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

[5, 8, 7, 9, 'Luis', 'Jonathan', 'Ramon'] Ramon

In [11]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [14]:
matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 8] ]
functools.reduce(obtenerNota, matriz, 0)

NameError: name 'functools' is not defined

In [15]:
serie = [1,2,3,3,4,4,1,8,9]
print(serie.count(1))

2

In [16]:
numeros = []
for i in range(1,10):
  numeros.append(int(input("Num: "+ str(i)+": ")))
num = int(input("Num a buscar: "))
print("Serie: ", numeros, "El numero ", num, ", se repite: ", numeros.count(num))

Num: 1: 5
Num: 2: 2
Num: 3: 5
Num: 4: 6
Num: 5: 7
Num: 6: 8
Num: 7: 1
Num: 8: 6
Num: 9: 5
Num a buscar: 4
Serie:  [5, 2, 5, 6, 7, 8, 1, 6, 5] El numero  4 , se repite:  0

In [17]:
numeros = [1,5,2,6,2,1,4]
numeros.sort()
numeros.reverse()
print(numeros)

[6, 5, 4, 2, 2, 1, 1]

DICCIONARIOS - JSON

In [18]:
datos = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "materias":[
        {"codigo":"611","nombre":"Programacion III","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c2":{"lab1":10,"lab2":9,"parcial":10},
            "c3":{"lab1":4,"lab2":5,"parcial":8}
            }
         },
        {"codigo":"612","nombre":"Base de Datos"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["c1"])

Luis Hernandez Programacion III {'lab1': 8, 'lab2': 9, 'parcial': 10}

ESTRUCTURAS DE CONTROL

IF

EJERCICIO:SOLICITAR LA EDAD Y REALIZAR LA CLASIFICACION

In [ ]:
edad = int(input("Edad: "))
if edad>17:
  print("Bienvenido al mundo de las responsabilidades")

Edad: 18
Bienvenido al mundo de las responsabilidades

In [ ]:
continuar = "s"
while continuar == "s":
  edad = int(input("Edad: "))
  if (edad<0):
     print("Edad incorrecta")
  elif edad<=2:
     print("Eres un bebe")
  elif edad<12:
     print("Eres un niño")
  elif edad<18:
     print("Eres un adolescente")
  elif edad<65:
     print("Eres un adulto")
  elif edad<85:
     print("Eres un adulto mayor")
  else:
   print("Larga vida")
  continuar = input("Continuar s, sino cualquier tecla: ")

Edad: 95
Larga vida
Continuar s, sino cualquier tecla: e

positivo o negativo

In [ ]:
numero = int(input("Ingresa un numero: "))
if numero>0:
  print("Positivo")
else:
  print("Negativo")

Ingresa un numero: -5
Negativo

Solicitar tabla de multiplicar

In [ ]:
continuar="s"
while continuar=="s":
  tabla = int(input("Tabla: "))
  for i in range(1,11):
    print(tabla, "x", i, "=", tabla*i)
  continuar = input("continuar s, sino cualquier tecla: ")

Tabla: 34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340
continuar s, sino cualquier tecla: e

PROGRAMACION ORIENTADA A OBJETOS

CLASE

In [19]:
class Calculadora:
  def sumar(self, num1, num2):
    return num1 + num2

OBJETOS

In [20]:
objCalculadora = Calculadora()
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
print("Suma: ", objCalculadora.sumar(num1, num2))

Num 1: 3
Num 2: 7
Suma:  10.0

EJERCICIO Escriba un programa que lea una serie de numeros introducidos por el usuario, y determine la media aritmetica.

In [21]:
from math import sqrt

class estadistica:
  def media(self, serie):
    suma = 0
    for num in serie:
      suma += num
    return suma/len(serie)

  def tipica(self, serie):
    media = self.media(serie)
    suma = 0
    for num in serie:
      suma += (num-media)**2
    return sqrt(suma/len(serie))

In [22]:
n = int(input("Cuantos numeros va a ingresar: "))
serie = []
for num in range(1,n+1):
  serie.append(int(input("Num: ")))

objEstadistica = estadistica()
print("La media es: ", objEstadistica.media(serie))

print("La desviacion tipica es: ", round(objEstadistica.tipica(serie),3) )

Cuantos numeros va a ingresar: 3
Num: 2
Num: 5
Num: 9
La media es:  5.333333333333333
La desviacion tipica es:  2.867

• 1Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y
sueldo neto.

In [ ]:
import math
isss = 0.03
afp = 0.0625
tabla_isr = {"desde":[0.01, 472.01, 895.25, 2038.11], "hasta":[472, 895.24, 2038.10, math.inf], "porcentaje":[0.00, 0.10, 0.20, 0.30], "cuota_fija":[0.00, 17.67, 60.00, 288.57]}
frecuencias = {"mensual":1,"quincenal":2,"semanal":4}

def calcular_isr(sueldo,frecuencia):
    sueldo *= 1-(afp+isss)
    for i in range(len(tabla_isr["desde"])):
        if tabla_isr["desde"][i]/frecuencias[frecuencia]<=sueldo:
          if tabla_isr["hasta"][i]/frecuencias[frecuencia]>=sueldo:
            isr = calcular_isr(sueldoBruto,frecuenciaPago)
    print("El ISR a pagar es de: ",isr)
sueldoNeto = calcularSueldo(sueldoBruto,isr,afp,isss)
print(f"Debes pagar los siguientes impuestos de forma {frecuenciaPago}:",
        "\nISSS: ",round(isss*sueldoBruto,2),
        "\nAFP:",round(afp*sueldoBruto,2),
        "\nISR:",round(isr,2)
        )
print("Tu sueldo neto es de: ",round(sueldoNeto,2))

NameError: name 'calcularSueldo' is not defined

• 2Calcular el valor a pagar según el número de metros consumidos de agua potable.

In [ ]:
def calcularPago(consumo):
    if consumo <= 18:
        return 6
    elif consumo <= 28:
        exceso = consumo - 18
        return 6 + (exceso * 0.45)
    else:
        exceso1 = 28 - 18
        exceso2 = consumo - 28
        return 6 + (exceso1 * 0.45) + (exceso2 * 0.65)

consumo = float(input("Introduce consumo de metros cúbicos de agua: "))
total_a_pagar = calcularPago(consumo)
print(f"Total a pagar: ${total_a_pagar:.2f}")

Introduce consumo de metros cúbicos de agua: 38
Total a pagar: $17.00

• 3Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la fórmula matemática para evitar ciclos.

In [ ]:
def sumaAcumulada(n):
      return (n * (n + 1))//2

mes = int(input("Introduca el número de meses: "))
acumulado = sumaAcumulada(mes)
print(f"El valor acumulado en {mes} meses es:{acumulado}")

Introduca el número de meses:10
El valor acumulado en 10 meses es:55

• 4Conversores: (40%)

In [ ]:
conversor={
"Longitud":{"Metros":1,"Centímetros":100,"Milímetros":1000,"Micrómetros":1000000,"Nanómetros":1000000000,"Kilómetros":1/1000,"Millas":1/1609,"Pulgadas":3.281*12,"Pies":3.281,"Yardas":3.281/3},
"Masa":{"Kilogramos":1,"Gramos":1000,"Miligramos":10**3,"Microgramos":10**6,"Libras":2.20462,"Onzas":2.20462/16,"Stones":2.20462/14,"Toneladas":1/1000,"Toneladas largas":1/1016,"Toneladas cortas":2.20462/2000,},
"Almacenamiento":{"Bits":1,"Bytes":8,"Kilobytes":8/1000,"Megabytes":8/10**6,"Gigabytes":8/10**9,"Terabytes":8/10**12,"Kibibytes":8/1024,"Mebibytes":8/1024**2,"Gibibytes":8/1024**3,"Tebibytes":8/1024**4},
"Tiempo":{"Microsegundos":3600*10**6,"Milisegundos":3600*1000,"Segundos":3600,"Minutos":60,"Horas":1,"Días":1/24,"Semanas":1/(24*7),"Meses":1/(24*30),"Años":1/(24*365),"Décadas":1/(24*365*10),"Siglos":1/(24*365*100)},
"Volúmen":{"Litros":1,"Mililitros":1000,"Galones":1/3.7854,"Cuartos":4/3.7854,"Pintas":8/3.7854,"Tazas":1000/240,"Onzas":128/3.7854,"Cucharadas":256/3.7854,"Cucharaditas":768/3.7854},
"Área":{"Km cuadrados":1,"Hectáreas":100,"Metros cuadrados":10**6,"Pies cuadrados":10.764*10**6,"Yardas cuadradas":1.196*10**6,"Acres":247.105,"Millas cuadradas":0.386102,"Pulgadas cuadradas":1.55*10**9,"Manzanas":1.43083,"Tareas":1590.3307},
}

def mostrarMagnitudes():
    print("Magnitudes disponibles:")
    for i in conversor.keys():
        print(f"-{i}")

def mostrarUnidades(magnitud):
    print(f"Unidades de {magnitud}:")
    for u in conversor[magnitud].keys():
        print(f"-{u}")

def obtenerUnidad(magnitud,tipo):
    unidad = input(f"Convertir {tipo}: ")
    if unidad not in conversor[magnitud]:
        print(f"La unidad {unidad} no está disponible en {magnitud}")
        return obtenerUnidad(magnitud,tipo)
    return unidad

def obtenerMagnitud():
    magnitud=input("Ingresa que quieres convertir: ")
    if magnitud not in conversor.keys():
        print(f"La magnitud {magnitud} no está disponible")
        return obtenerMagnitud()
    return magnitud

def obtenerCantidad():
    try :
        cantidad = float(input("Cantidad:"))
    except:
        print("Ingresa un numero")
        return obtenerCantidad()
    return cantidad

def convertir(magnitud,de,a,cantidad):
    res=cantidad*conversor[magnitud][a]/conversor[magnitud][de]
    print(f"{cantidad} {de} equivalen  {res} {a}")

mostrarMagnitudes()
magnitud = obtenerMagnitud()
mostrarUnidades(magnitud)
de = obtenerUnidad(magnitud,"de")
a= obtenerUnidad(magnitud,"a")
cantidad = obtenerCantidad()
convertir(magnitud,de,a,cantidad)

Magnitudes disponibles:
-Longitud
-Masa
-Almacenamiento
-Tiempo
-Volúmen
-Área
Ingresa que quieres convertir: Masa
Unidades de Masa:
-Kilogramos
-Gramos
-Miligramos
-Microgramos
-Libras
-Onzas
-Stones
-Toneladas
-Toneladas largas
-Toneladas cortas
Convertir de: Gramos
Convertir a: Libras
Cantidad:200
200.0 Gramos equivalen  0.440924 Libras

• 5Realizar un conversor propio, donde especifiqué el valor de conversión:

In [ ]:
conversor={
"Mandarinas":{"Mandarinas":1,"Bandejas":1/4,"Cajas":1/150,"Cargamentos":1/20000},
"Huevos":{"Huevos":1,"Docenas":1/12,"Cartones":1/30,"Cajas":1/180,"Cargamentos":1/60000},
"Leche":{"Cargamentos":1,"Cajas":400,"Cartones":2000,"Docenas":5000,"Leche":60000}
}
def mostrarMagnitudes():
    print("Elija una magnitud:")
    for i in conversor.keys():
        print(f"-{i}")

def mostrarUnidades(magnitud):
    print(f"Unidades de {magnitud}:")
    for u in conversor[magnitud].keys():
        print(f"-{u}")

def obtenerUnidad(magnitud,tipo):
    unidad = input(f"Convertir {tipo}: ")
    if unidad not in conversor[magnitud]:
        print(f"La unidad {unidad} no está disponible en {magnitud}")
        return obtenerUnidad(magnitud,tipo)
    return unidad

def obtenerMagnitud():
    magnitud=input("Que quieres convertir: ")
    if magnitud not in conversor.keys():
        print(f"La magnitud {magnitud} no está disponible")
        return obtenerMagnitud()
    return magnitud

def obtener_cantidad():
    try :
        cantidad = float(input("Cantidad:"))
    except:
        print("Ingresa un numero")
        return obtenerCantidad()
    return cantidad

def convertir(magnitud,de,a,cantidad):
    resultado=cantidad*conversor[magnitud][a]//conversor[magnitud][de]
    residuo=cantidad%(conversor[magnitud][de]/conversor[magnitud][a])
    msg = f"{cantidad} {de} equivalen a {resultado} {a}"
    if residuo >= 1:
        msg += f" y {residuo} {de}"
    print(msg)

mostrarMagnitudes()
magnitud = obtenerMagnitud()
mostrarUnidades(magnitud)
de = obtenerUnidad(magnitud,"de")
a= obtenerUnidad(magnitud,"a")
cantidad = obtenerCantidad()
convertir(magnitud,de,a,cantidad)

Elija una magnitud:
-Mandarinas
-Huevos
-Leche
Que quieres convertir: Mandarinas
Unidades de Mandarinas:
-Mandarinas
-Bandejas
-Cajas
-Cargamentos
Convertir de: Mandarinas
Convertir a: Cajas
Cantidad:289
289.0 Mandarinas equivalen a 1.0 Cajas y 139.0 Mandarinas

EJERCICIOS 3 (CLASE)

In [ ]:
def calcularVarianza(numeros):

  n = len(numeros)
  media = sum(numeros) / n
  sumaCuadradosDif = sum((x - media)**2 for x in numeros)
  varianza = sumaCuadradosDif / n

  return varianza

numerosStr = input("Ingresa los números: ")
numeros = [float(num) for num in numerosStr.split()]
varianza = calcularVarianza(numeros)
print("La varianza es:", varianza)

Ingresa los números: 1,1,2,3,4

ValueError: could not convert string to float: '1,1,2,3,4'

In [ ]:
from collections import Counter

def calcularFrecuencias(numeros):
    conteo = Counter(numeros)
    return conteo

numeros_str = input("Ingresa números separados por espacios:")
numeros = [int(num) for num in numeros_str.split()]
frecuencias = calcularFrecuencias(numeros)

print("Frecuencias de los números:")
for numero, frecuencia in frecuencias.items():
    print(f"{numero}: {frecuencia} veces")

Ingrese los números separados por espacios: 2 2 3 4 5 6 6
Frecuencias de los números:
2: 2 veces
3: 1 veces
4: 1 veces
5: 1 veces
6: 2 veces

In [ ]:
def esPalindromo(palabra):
  palabra = palabra.lower()
  palabra = ''.join(char for char in palabra if char.isalnum())
  palabraInvertida = palabra[:-1]
  return palabra == palabraInvertida

palabra = input("Ingresa una palabra: ")
if esPalindromo(palabra):
  print("La palabra", palabra, "es palíndroma.")
else:
  print("La palabra", palabra, "no es palíndroma.")

Ingresa una palabra: roma
La palabra roma no es palíndroma.